
body,html {
    width: 400px;
    min-height: 625px;
    max-width: 400px;
    margin: auto;
    padding: 0;
    background-color: #2D2D2D;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 100%;
    position: relative;
    overflow-x:hidden;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    width: 100%; 
    box-sizing: border-box; 
}
        
.card {
    width: 45%;
    margin-bottom: 20px;
    position: relative;
    padding: 6px;
    background: white; 
    border-radius: 15px; 
    overflow: hidden; 
    box-sizing: border-box; 

}

.logo h2 {
    font-size: 28px;
    text-align: center;
    color: azure;
    cursor: pointer;
    font-family: American Typewriter, serif;
    margin: 10px 0;
    text-decoration: none;

}
.logo a{
    text-decoration: none;
}
.nav {
    background-color: black;
    border-radius: 15px;
    padding: 12px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    box-sizing: border-box; 

}

.card_image, .card_image_two, .card_image_three,.card_image_four {
    height: 100px;
    border-radius: 15px 15px 0 0;
    background-size: cover;
    background-position: center;
    width: 100%;

}

.card_image {
    background-image: url(https://nike-air-force1.com/image/cache/catalog/p-6000/nike-p-6000-hangul-day-photon-dust/1-1200x600.webp);
}

.card_image_two {
    background-image: url(https://nike-air-force1.com/image/cache/catalog/AF07/07WhiteBlack/AO2423101-1200x600.webp);
}

.card_image_three{
    background-image: url(https://nike-air-force1.com/image/cache/catalog/am270/belo-chernye/nikeairmax270-1200x600.webp);
}
.card_image_four{
    background-image: url(https://nike-air-force1.com/image/cache/catalog/Low/night-of-mischief/q4-l-1200x600.webp);
}
.card_content {
    padding: 10px 0; 
    background-color: azure;
    width: 100%;
    border-radius: 0 0 10px 10px;
    height: auto; 
    box-sizing: border-box; 

}

.card_content h3 {
    text-align: center;
    margin: 0;
    font-size: 16px; 
    padding: 5px 0; 

}

.card_sizeprice h4 {
    text-align: center;
    margin: 0px 0;
    font-size: 16px;
    padding: 5px 0px ; 

}

.card_item {
    display: inline-block;
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    padding: 6px; 
    width: 25px; 
    height: 20px; 
    cursor: pointer;
    font-size: 12px; 
    text-align: center;
    line-height: 10px; 
    box-sizing: border-box; 
    right:15px ;

}

.card_grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 10px;
    padding: 8px; 
    position: relative; 
}
.card_item:hover {
    background-color: #e0e0e0;
}
        
.card_item.selected {
    background-color: #5a4ec4;
    color: white;
    border: 2px solid #c96f26;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.image_button {
    width: 30px;
    height: 30px;
    border: none;
    background-image: url('https://images.icon-icons.com/1993/PNG/512/bag_buy_cart_market_shop_shopping_tote_icon_123191.png');
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 6px;
}
.navbar{
    background-color: black;
    border-radius: 15px;
    padding: 12px;
    width: 400px;
    height: auto;
    box-sizing: border-box; 
    overflow: hidden;
    position: fixed;
    bottom: 0;
}
.trash{
    color:azure;
    font-family: "Gill Sans", sans-serif;
}
.profile{
    color:azure;
    font-family: "Gill Sans", sans-serif;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 54px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}


.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

